<div id='banner'>
	<%= render :partial => "shared/people_search" %>
	<%= render :partial => "shared/sixarm_banner" %>
	<h1><%= image_tag('sixarm-logo.jpg') %> <%= link_to 'SixArm Libraries Demo App', root_path %></h1>
</div>