<div id='six-arm-links' class='right-banner'>
	<%= link_to 'About This Demo', '/about', :style => 'float: left;' %>	SixArm: <%= link_to 'Site', 'http://sixarm.com' %> | <%= link_to 'GitHub', 'http://github.com/sixarm' %>
</div>