<div id='about-sixarm'>
	<h1>About SixArm</h1>
	<%= render :partial => 'page/sixarm_benefits' %>
	<%= render :partial => 'page/gems_list', :locals => {:list_title => 'SixArm Gems', :gem_list => GEMLISTS[:sixarm_gems]} %>
</div>                                                                                                                     
