<% if @department.company %>
	<h1>New Department in <%= @department.company %></h1>
<% else %>
	<h1>New Department</h1>
<% end %>

<%= form_for Department.new do |form| %>
	<%= render form %>
<% end %>
