<table>
	<tr valign=top>
		<td class="promotable_img"><img width=64 src='http://www.sixarm.com/img/icons/aqua/64/gear.jpg'></td>
		<td class="promotable_txt"><b>Add Apps</b> Rapid design &amp; development in Ruby On Rails, Java, LAMP</td>
		<td class=spacer>&nbsp;</td>
		<td class="promotable_img"><img width=64 src='http://www.sixarm.com/img/icons/aqua/64/ruby.jpg'></td>
		<td class="promotable_txt"><b>Add Style</b> Improve user interaction with dynamic content, CSS, AJAX, Flash</td>
	</tr>
	<tr valign=top>
		<td class="promotable_img"><img width=64 src='http://www.sixarm.com/img/icons/aqua/64/googlemaps.jpg'></td>
		<td class="promotable_txt"><b>Add Maps</b> Think globally &amp; act locally with maps, directions, and meetups</td>
		<td class=spacer>&nbsp;</td>
		<td class="promotable_img"><img width=64 src='http://www.sixarm.com/img/icons/aqua/64/iphone.jpg'></td>
		<td class="promotable_txt"><b>Add Mobile</b> Reach out and touch your users with SMS texts, iPhone &amp; Blackberry sites</td>
	</tr>
	<tr valign=top>
		<td class="promotable_img"><img width=64 src='http://www.sixarm.com/img/icons/aqua/64/facebook.jpg'></td>
		<td class="promotable_txt"><b>Add Social Networks</b> Connect with your users on Facebook, MySpace, P2P sites</td>
		<td class=spacer>&nbsp;</td>
		<td class="promotable_img"><img width=64 src='http://www.sixarm.com/img/icons/aqua/64/lighthouse.jpg'></td>
		<td class="promotable_txt"><b>Add Search Engine Optimization</b> Boost your page rank and results on Google, Yahoo, Microsoft, Ask</td>
	</tr>
</table>
