<div class='toolbar'>
	<%= link_to 'SixArm Website', 'http://sixarm.com', :class => 'first', :style => 'vertical-align: top;' %> <%= link_to 'Open Source Libs', 'http://github.com/sixarm', :class => 'last' %>
</div>
