<h1>Export <%= @company %> Staffers</h1>
<%= link_to 'Save as Download', department_path(:id => @company.id), :remote => true, :class => 'big button remoter' %>
<table>
	<%= render :partial => 'shared/staff_list_headings', :locals => {:alumni => true} %>
	<%= render :partial => 'people/short_line', :locals => {:people => @company.people, :deletable => false} %>
</table>
