<h1>Staff Titles</h1>

<p><%= link_to 'Add Title', new_title_path, :class => 'button' %></p>

<table>
  <tr>
    <th></th>
    <th>Title</th>
  </tr>

<% @titles.each do |title| %>
  <tr>
    <td class='actions'>
			<% if title.people.count == 0 %>
			<%= link_to 'X', title, :confirm => 'Are you sure?', :method => :delete %>
			<% end %>
		</td>
    <td><%= link_to title.title, edit_title_path(title), :title => 'Edit' %></td>
  </tr>
<% end %>
</table>

<br />

<p><strong>Note:</strong> Titles currently used by staff cannot be deleted.</p>